@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  display: flex;
}

.article-container{
  background-color: #ffffbf;
  width: 40%;
  display: block;
  justify-content: center;
  margin: 0 auto;
  margin: 3em;
  font-family: Montserrat, sans-serif;
  padding-bottom: 1em;
}

.article-title{
  font-size: 1.5em;
}

.company-name, .company-price{
  font-size: 1em;
}

.yearButton{
  padding: 0.5em;
  margin: 0.3em;
  border: none;
  color: white;
}

.add{
  background-color: rgb(87, 190, 132);
}

.subtract{
  background-color: rgb(226, 67, 67);
}





